%html
  %head
    %title
    %link{:rel => "stylesheet",
          :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}
    %link{:rel => "stylesheet",
          :href => "/stylesheets/main.scss"}
  %body
    .navbar.navbar-inverse
      .navbar-brand
        ="Fims"
        .nav.navbar-nav
          ="New"

    - if flash[:message]
      .message
        =flash[:message]
    .container
      = yield

